@model WebApplication1.Models.User

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Login/Style.css" rel="stylesheet" />
    <link media="all" type="text/css" rel="stylesheet" href="http://bootsnipp.com/css/fullscreen.css">
   <script src="~/Content/Login/JavaScript.js"></script>
   <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
   
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link" onclick=" LoginformClick()">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link" onclick="RegisterformClick()">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "login-form" }))
                                {
                                    <h1> @ViewData["Msg"]</h1>

                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                                        @Html.EditorFor(u => u.Email, new { htmlAttributes = new { @data_val = "false", @placeholder = "Email", @class = "form-control" } })
                                        @Html.ValidationMessageFor(u => u.Email)
                                    </div>

                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @data_val = "false", @placeholder = "Password", @class = "form-control" } })
                                        @Html.ValidationMessageFor(u => u.Password)

                                    </div>                                 
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="#" id="ForgotPassword" class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                                @using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { @id = "register-form", @style = "display: none;" }))
                                {
                                    <form id="register-form" method="post" role="form" style="display: none;">
                                   <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        @Html.EditorFor(u => u.Email, new { htmlAttributes = new { autocomplete = "off", @placeholder = "Email address", @class = "form-control" } })
                                        @Html.ValidationMessageFor(u => u.Email)
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.EditorFor(u => u.FirstName, new { htmlAttributes = new { autocomplete = "off", @placeholder = "First Name", @class = "form-control" } })
                                        @Html.ValidationMessageFor(u => u.FirstName)
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon" autocomplete="off"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.EditorFor(u => u.LastName, new { htmlAttributes = new { autocomplete = "off", @placeholder = "Last Name", @class = "form-control" } })
                                        @Html.ValidationMessageFor(u => u.LastName)

                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        @Html.EditorFor(u => u.Password, new { htmlAttributes = new { autocomplete = "off", @placeholder = "Password", @class = "form-control" } })
                                        @Html.ValidationMessageFor(u => u.Password)
                                    </div>

                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        @Html.EditorFor(u => u.Address, new { htmlAttributes = new { autocomplete = "off", @placeholder = "Address", @class = "form-control" } })
                                        @Html.ValidationMessageFor(u => u.Address)
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function () {
    $("#ForgotPassword").click(function () {
        var email = prompt("Please enter your email");

        if (email != null) {


            $.ajax({
                type: 'POST',
                url: '@Url.Action("ForgotPassword")',
                dataType: 'json',
                data: { email: email },
                success: function (result) {
                    alert(result);
                },
                error: function () {
                    alert("error");
                }
            });
            return false;

        }

        alert("No email entered");
    }
    )
});
</script>