@model WebApplication1.Models.User

<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->
<!-- animate.css -->
<link rel="stylesheet" href="~/Content/assets/animate/animate.css" />
<link rel="stylesheet" href="~/Content/assets/animate/set.css" />

<!-- gallery -->
<link rel="stylesheet" href="~/Content/assets/gallery/blueimp-gallery.min.css">

<!-- favicon -->
<link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/images/favicon.ico" type="image/x-icon">

<!-- works -->



<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <div class=" clearfix grid">
                        <figure class="effect-oscar  wowload fadeIn">
                            <img class="pic" src="~/images/imagelogo/adidas.jpg"  />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                    @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 1 }, null)
                                </p>
                            </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/apple.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                    @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 2}, null)

                                </p>
                            </figcaption>
                        </figure>
                        <figure  class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/april.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                    @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 3 }, null)

                                </p>
                            </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/h&m.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                    @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 4 }, null)

                                </p>
                            </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/nike.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                  @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 5 }, null)

                                </p>
                            </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/pull and bear.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                   @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 6 }, null)

                                </p>
                            </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/under armour.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                    @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 7 }, null)

                                </p>
                            </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/windows.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                    @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 8 },null)

                                </p>
                            </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                            <img class="pic" src="~/images/imagelogo/zara.jpg" />
                            <figcaption>
                                <p>
                                    SALE OR SOME OTHER DISCOUNT WORDS  <br>
                                   @Html.ActionLink("Gift ME (: ", "BuyGiftCard", "Home", new { StoreID = 9 }, null)
                                </p>
                            </figcaption>
                        </figure>                      
                    </div>

                    <!-- works -->
                    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                        <!-- The container for the modal slides -->
                        <div class="slides"></div>
                        <!-- Controls for the borderless lightbox -->
                        <h3 class="title">Title</h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    </div>
                    <!-- jquery -->
                    <script src="~/Content/assets/jquery.js"></script>
                    <!-- wow script -->
                    <script src="~/Content/assets/wow/wow.min.js"></script>
                    <!-- boostrap -->
                    <script src="~/Content/assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>
                    <!-- jquery mobile -->
                    <script src="~/Content/assets/mobile/touchSwipe.min.js"></script>
                    <script src="~/Content/assets/respond/respond.js"></script>
                    <!-- gallery -->
                    <script src="~/Content/assets/gallery/jquery.blueimp-gallery.min.js"></script>
                    <!-- custom script -->
                    <script src="~/Content/assets/script.js"></script>

                </div>
            </div>
        </div>
    </div>
</body>

